*{
padding: 0;
margin: 0;
border: 0;
}

*,*:before,*:after{
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}

:focus, :active{outline: none;}
a:focus, a:active{outline:none;}

nav,footer,aside{display: block;}

html,body{
height: 100%;
width: 100%;
font-size: 100%;
-ms-text-size-adjust: 100%;
-moz-text-size-adjust: 100%;
-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display:none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding: 0; border:0;}
a, a:visited {text-decoration: none;}
a:hover{text-decoration: none;}
ul li {list-style: none;}
img {vertical-align: top;}

h1,h2,h3,h4,h5,h6 {font-size:inherit; font-weight: 400;}

.wrapper {
    display: flex;
    flex-direction: column;
    margin: 1 auto;
    background-color: #121116;
    height: 100%;
}
.main {
    margin: auto 10%;
    height: 100%;
    width: auto;
    background: url('../img/newback.png') center center;
    background-repeat: repeat-y;
    background-size: cover; 
    border: hotpink 5px solid;
    display: flex;
    justify-content: center;
}
.main__block {
width: 50%;
height: auto;
border: solid 5px yellow;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-between;
}
.main__logo{
    width: 100%;
    height: auto;
    border: whitesmoke 2px solid;
    margin-top: 20%;
    text-align: center;
}
.main__logo>img {
    width: 50%;
    height: auto;
    min-width: 100px;
}
.main__sociallist {
    width: 200px;
    height: auto;
    border: solid green 2px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.main__socialimg {
    width: 200%;
    height: auto;
    text-align: center;
}

    


